<!DOCTYPE html>
<html lang="en">

<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <link rel="stylesheet" href="./styles.css">
</head>

<body>

  <div class="jumbotron text-center m-4">
    <h1>Databáze svleček</h1>
  </div>

  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <a href="" data-toggle="tooltip" title="Tooltip on top"></a>
        <th class="align-top" scope="col">Druh</th>
        <th class="align-top" scope="col">Popis / varianta</th>
        <th class="align-top" scope="col">Dovoz z</th>
        <th class="align-top" scope="col">Dovoz datum</th>
        <th class="align-top" scope="col">Označení svlečky</th>
        <th class="align-top" scope="col">Sběr svlečky datum</th>
        <th class="align-top" scope="col">Sběr svlečky místo</th>
        <th class="align-top" scope="col">Číslo kotce</th>
        <th class="align-top" scope="col">Aktuální místo uložení svlečky</th>
        <!--(A, B, C, D, E…jiné)-->
        <th class="align-top" scope="col">Označení vzorku ze svlečky</th>
        <th class="align-top" scope="col">Lokalita před posledním svlekem</th>
        <!-- TODO:  tooltip než byla daná do ependorfky-->
        <th class="align-top " scope="col">Původní hmotnost analyzované svlečky</th>

        <!-- TODO:  (stříhání/ mletí…)-->
        <th class="align-top" scope="col">Příprava vzorku mechanická</th>
        <th class="align-top" scope="col">Příprava vzorku mechanická kdy</th>
        <th class="align-top" scope="col">Příprava vzorku mechanická kdo</th>
        <th class="align-top" scope="col">Příprava vzorku mechanická kde</th>
        <th class="align-top" scope="col">Příprava vzorku (oplach - v čem)</th>
        <th class="align-top" scope="col">Příprava vzorku oplach kdy</th>
        <!--TODO: (mám tam zahrnout i specifikaci sušárny?) -->
        <th class="align-top" scope="col">Příprava vzorku - sušení - popis</th>
        <th class="align-top" scope="col">Uložení vzorku do doby analýzy</th>
        <th class="align-top" scope="col">Aktuální uložení vzorku</th>
        <th class="align-top" scope="col">Do SI laboratoře Albertov dodáno</th>
      </tr>
    </thead>
    <tbody>
      {{#each vzorky}}
      <tr class="text-nowrap">
        <td scope="col">{{this.druh}}</td>
        <td scope="col">{{this.popis}}</td>
        <td scope="col">{{this.dovoz}}</td>
        <td scope="col">{{this.dovoz_datum}}</td>
        <td scope="col">{{this.oznaceni_svlecky}}</td>
        <td scope="col">{{this.sber_svlecky_datum}}</td>
        <td scope="col">{{this.sber_svlecky_misto}}</td>
        <td scope="col">{{this.cislo_kotce}}</td>
        <td scope="col">{{this.ulozeni_svlecky_misto.adresa}}</td>
        <td scope="col">{{this.oznaceni_vzorku_svlecky}}</td>
        <td scope="col">{{this.pred_posl_svlecenim_misto}}</td>
        <td scope="col">{{this.puvodni_hmotnost}}</td>
        <td scope="col">{{this.priprava_vzorku_typ}}</td>
        <td scope="col">{{this.priprava_vzorku_kdy}}</td>
        <td scope="col">{{this.priprava_vzorku_kdo}}</td>
        <td scope="col">{{this.priprava_vzorku_misto.adresa}}</td>
        <td scope="col">{{this.priprava_vzorku_oplach}}</td>
        <td scope="col">{{this.priprava_vzorku_oplach_kdy}}</td>
        <td scope="col">{{this.priprava_vzorku_suseni}}</td>
        <td scope="col">{{this.ulozeni_vzorku_do_analyzy_misto.adresa}} - {{this.ulozeni_vzorku_do_analyzy_objekt}}</td>
        <td scope="col">{{this.ulozeni_vzorku_aktualni.adresa}}</td>
        <td scope="col">{{this.dodani_albertov_datum}}</td>
      </tr>
      {{/each}}
    </tbody>
  </table>


    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>

</html>