<!DOCTYPE html>
<html lang="en">

<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>

<body>

  <div class="jumbotron text-center m-4">
    <h1>Databáze vzorků</h1>
  </div>

  <table class="table table-striped">
    <thead>
      <tr>
        <th class="align-top" scope="col">Druh</th>
        <th class="align-top" scope="col">Popis / varianta</th>
        <th class="align-top" scope="col">Dovoz z</th>
        <th class="align-top" scope="col">Dovoz datum</th>
        <th class="align-top" scope="col">Označení svlečky</th>
        <th class="align-top" scope="col">Sběr svlečky datum</th>
        <th class="align-top" scope="col">Sběr svlečky místo</th>
        <th class="align-top" scope="col">Číslo kotce</th>
        <th class="align-top" scope="col">Aktuální místo uložení svlečky</th>
        <th class="align-top" scope="col">Označení vzorku ze svlečky (A, B, C, D, E…jiné)</th>
        <th class="align-top" scope="col">Lokalita před posledním svlekem</th>
        <th class="align-top" scope="col">Původní hmotnost analyzované svlečky, než byla daná do ependorfky</th>
        <th class="align-top" scope="col">Příprava vzorku mechanická (stříhání/ mletí…)</th>
        <th class="align-top" scope="col">Příprava vzorku mechanická kdy</th>
        <th class="align-top" scope="col">Příprava vzorku mechanická kdo</th>
        <th class="align-top" scope="col">Příprava vzorku mechanická kde</th>
        <th class="align-top" scope="col">Příprava vzorku (oplach - v čem)</th>
        <th class="align-top" scope="col">Příprava vzorku oplach kdy</th>
        <th class="align-top" scope="col">Příprava vzorku - sušení - popis (mám tam zahrnout i specifikaci sušárny?)</th>
        <th class="align-top" scope="col">Uložení vzorku do doby analýzy</th>
        <th class="align-top" scope="col">Aktuální uložení vzorku</th>
        <th class="align-top" scope="col">Do SI laboratoře Albertov dodáno dne</th>
      </tr>
    </thead>
    <tbody>
      {{#each vzorky}}
      <tr class="text-nowrap">
        <th scope="col">{{this.druh}}</th>
        <th scope="col">{{this.popis}}</th>
        <th scope="col">{{this.dovoz}}</th>
        <th scope="col">{{this.dovoz_datum}}</th>
        <th scope="col">{{this.oznaceni_svlecky}}</th>
        <th scope="col">{{this.sber_svlecky_datum}}</th>
        <th scope="col">{{this.sber_svlecky_misto}}</th>
        <th scope="col">{{this.cislo_kotce}}</th>
        <th scope="col">{{this.ulozeni_svlecky_misto.adresa}}</th>
        <th scope="col">{{this.oznaceni_vzorku_svlecky}}</th>
        <th scope="col">{{this.pred_posl_svlecenim_misto}}</th>
        <th scope="col">{{this.puvodni_hmotnost}}</th>
        <th scope="col">{{this.priprava_vzorku_typ}}</th>
        <th scope="col">{{this.priprava_vzorku_kdy}}</th>
        <th scope="col">{{this.priprava_vzorku_kdo}}</th>
        <th scope="col">{{this.priprava_vzorku_misto.adresa}}</th>
        <th scope="col">{{this.priprava_vzorku_oplach}}</th>
        <th scope="col">{{this.priprava_vzorku_oplach_kdy}}</th>
        <th scope="col">{{this.priprava_vzorku_suseni}}</th>
        <th scope="col">{{this.ulozeni_vzorku_do_analyzy_misto.adresa}} - {{this.ulozeni_vzorku_do_analyzy_objekt}}</th>
        <th scope="col">{{this.ulozeni_vzorku_aktualni.adresa}}</th>
        <th scope="col">{{this.dodani_albertov_datum}}</th>
      </tr>
      {{/each}}

      {{!-- <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr> --}}
    </tbody>
  </table>

</body>

</html>